footer#footer
	.container
		.footer-content
			.logo.footer-logo
				img(src="static/img/general/logo.png" srcset="static/img/general/logo2x.png 2x" alt="Логотип")
			.footer-about
				h1.footer-company__name Группа компаний Emerald
				span.footer-company__descr Организация свадебных торжеств
			.footer-phone
				a(href="tel:+74951955722").footer-phone--city +7 (495) 195-57-22
				a(href="tel:+79161724569").footer-phone--mobile +7 (916) 172-45-69
				a(href="tel:+79853941057").footer-phone--mobile +7 (985) 394-10-57

			ul.footer-social
				li
					a(href="javascript:void(0);").footer-social__link.footer-social__link--vk
				li
					a(href="javascript:void(0);").footer-social__link.footer-social__link--instagram
				li
					a(href="javascript:void(0);").footer-social__link.footer-social__link--fb
				li
					a(href="javascript:void(0);").footer-social__link.footer-social__link--wp
				li
					a(href="javascript:void(0);").footer-social__link.footer-social__link--youtube
			
		.footer-copyright
			span © 2017  Все права защищены 
			a(href="javascript:void(0);") Политика конфиденциальности
