header
	.container
		.header-nav
			.sandwich
				span.sandwich-line.sandwich-line--top
				span.sandwich-line.sandwich-line--middle
				span.sandwich-line.sandwich-line--bottom
			span.header-nav__title Меню
			include menu
		.header-about
			h1.header-company__name Группа компаний Emerald
			span.header-company__descr Организация свадебных торжеств
		.header-logo
			img(src="static/img/general/logo.png" srcset="static/img/general/logo2x.png 2x" alt="Логотип")
		.header-phone
			a(href="tel:+74951955722") +7 (495) 195-57-22
			a(href="tel:+79853941057") +7 (985) 394-10-57
		a(href="#feedback").g-btn.g-btn--small.popup-link.header-btn Заказать звонок
