ul.header-nav__list
	li
		a(href="#main").header-nav__link.scroll-link Главная
	li
		a(href="#services").header-nav__link.scroll-link Услуги
	li
		a(href="#portfolio").header-nav__link.scroll-link Портфолио
	li
		a(href="#price").header-nav__link.scroll-link Стоимость
	li
		a(href="#team").header-nav__link.scroll-link Наша команда
	li
		a(href="#partner").header-nav__link.scroll-link Площадка-партнёр
	li
		a(href="#reviews").header-nav__link.scroll-link Отзывы
	li
		a(href="#other").header-nav__link.scroll-link Не свадебные проекты
	li
		a(href="#footer").header-nav__link.scroll-link Контакты
