@media screen and (max-width: 1200px)

	.service-item
		width 45%

		&.service-item--center
			width 45%
	.price-item__wrap
		padding 0 50px

	.price-item
		height 500px		

@media screen and (max-width: 1050px)
	.portfolio
		height auto
		background-size cover
		&:before
			background-size cover
		&:after
			display none	

	.portfolio-item__wrap
		display flex
		flex-direction column
		max-width 700px

	.portfolio-item__line
		flex-wrap wrap
		order 1
		justify-content center

	.portfolio-item__center
		order 2	

	.portfolio-instagramm
		order 3	

	.portfolio-item
		order 1
		width 350px
		&.portfolio-item--width,
		&.portfolio-item--height
			width 700px
			order 2
		&.portfolio-item--height
			position relative

@media screen and (max-width: 1000px)
	.header-about
		display none	
	
	.header-nav
		order 1

	.header-phone
		order 2

	.header-btn
		order 3

	.header-logo
		order 4	

	.service-item
		width 45%
		padding-left 135px
		&:before
			width 120px
			height 120px

	.price__title
		font-size 20px

	.price-item
		padding 15px 10px 30px 

	.team-content
		display flex
		justify-content space-between
		flex-wrap wrap
		height auto
		background none

	.team-founder
		width 100%
		margin-bottom 50px
		position static
		padding-left 230px

	.team-item
		position static 	 	 			
		width 30%
		max-width 100%
		margin-bottom 30px

	.team-photo 
		&.team-photo--founder 
			width 200px
			height 200px
			background-size 100%

	.partner-photo__wrap 
		justify-content center

	.review-item
		margin 0 auto 30px

	.footer-social
		width 100%
		text-align center	

@media screen and (max-width: 900px)

	.about-video,
	.about-text
		width 100%

	.about-text
		order 1

	.about-video
		order 2
		margin-bottom 40px

	.other-item			
		width 45%

	.secrets-text 
		max-width 100%
		margin-bottom 40px
		text-align center

	.secrets-content
		justify-content center

	.secrets-list
		li
			margin-bottom 10px

@media screen and (max-width: 800px)
	.team-item
		width 45%

	.partner-advantages__item 
		position relative
		width 100%
		margin 0 20px 40px
		padding-left 55px

	&.partner-advantages__item--1
		max-width 240px
	
	&.partner-advantages__item--2
		max-width 480px

	&.partner-advantages__item--3
		max-width 370px

	&.partner-advantages__item--4
		max-width 270px	

	.review-item	
		height auto

	.reviews-slider
		padding 0 50px

@media screen and (max-width: 750px)

	header
		height 110px
		    background: #007558 url(../img/general/header-bg.jpg) center repeat-y;

	.header-nav__title 
		display none

	.header-logo
		position absolute
		left 50%
		margin-left -70px
		top 0

	.header-phone
		order 4

	.header-btn
		position absolute
		right 10px
		top 70px
		z-index 100

	.banner
		padding 20px

		.container
			height 300px
			align-items flex-start

	.banner-text
		font-size 28px

	.service-item
		width 100%
		min-height 120px
		&.service-item--center
			width 100%

	.portfolio-item__wrap
		max-width 700px

	.portfolio-item__line
		max-width 350px
		margin 0 auto

	.portfolio-item__center
		max-width 350px
		margin 0 auto

	.portfolio-instagramm
		order 3

	.portfolio-item
		width 350px
		&.portfolio-item--width,
		&.portfolio-item--height
			width 350px

	.footer-content	
		flex-direction column

	.footer-company__name
		text-align center

	.footer-logo,
	.footer-about,
	.footer-phone
		max-width 100%
		margin-right 0
		margin-bottom 15px	

@media screen and (max-width: 600px)
	header
		height 130px	

	.header-about
		display block		

	.header-logo
		display none

	.header-nav
		position absolute
		left 10px
		top 70px

	.header-phone
		a
			font-size 16px

	.team-item
		width 100%

	.team-founder
		padding-left 0

	.team-photo 
		&.team-photo--founder
			position static

	.review-item		 			
		flex-direction column

	.review-author
		margin-bottom 20px

	.reviews
		height auto
		background-size cover		 	

@media screen and (max-width: 500px)

	header
		background-color #fff
		height auto

		.container
			justify-content center
			height auto
			flex-direction column
			align-items center

	.header-about
		display block
		width 100%
		text-align center
		margin-bottom 15px	
		order 1

	.header-btn
		position static
		order 3

	.header-phone
		display inline-block
		margin-bottom 15px
		order 2

	.header-nav
		top 90px

	.form
		padding 15px

	.form__title
		font-size 20px

	.g-btn
		padding 0 15px			

	.g-btn
		&.g-btn--pdf
			padding-left: 45px;

	.banner
		padding 20px 10px
		.container
			height 250px


	.banner-text
		font-size 22px

	.service-item
		font-size 16px
		padding-left 100px
		&:before
			width 80px
			height 80px


	.portfolio-item__line
		max-width 280px
		margin 0 auto

	.portfolio-item__center
		max-width 280px
		margin 0 auto

	.portfolio-item
		width 280px
		&.portfolio-item--width,
		&.portfolio-item--height
			width 280px

	.price__title
		font-size 20px

	.price-item
		height auto
		padding-bottom 80px

	.partner-photo
		margin 0 auto 30px 

	.reviews-slider
		padding 0 30px

	.reviews-slider__controls
		width 30px
		height 30px


	.other-item			
		width 100%


	.footer-social
		li
			margin 0


	.price-slider__controls
		width 20px
		height 20px

	.price-item__wrap
		padding 0 15px

	.price
		padding-top 20px

	.price-order
		p
			font-size 20px
	
	.price-list
		font-size 16px

	.price-number
		font-size 30px
		max-width 180px
		bottom 30px
		margin-left -90px
		background-size 100%
		line-height 40px
		height 40px

	.g-section-title
		font-size 35px

	.secrets-list
		li
			font-size 20px

	.about-text
		margin-bottom 15px
