.partner
	background url('../img/general/partner-bg.jpg') 0 0 repeat-x
	background-size cover

	.container
		padding 0 10px

.partner-content 
	width 100%
	max-width 960px
	margin 0 auto

.partner-photo__wrap 
	display flex
	justify-content space-between
	flex-wrap wrap

.partner-photo 
	width 260px
	height 220px
	margin 0 10px 30px
	background-size cover

	&.partner-photo--width 
		width 360px

.partner-advantages__line 
	display flex
	color #007558
	justify-content center
	flex-wrap wrap

.partner-advantages__item 
	position relative
	width 100%
	margin 0 20px 40px
	padding-left 55px
	min-height 45px

	&.partner-advantages__item--1
		max-width 100%
	
	&.partner-advantages__item--2
		max-width 100%

	&.partner-advantages__item--3
		max-width 100%

	&.partner-advantages__item--4
		max-width 100%


.partner-advantages__number 
	font-family 'PTSansBold',Arial,sans-serif
	font-size 30px
	position absolute
	left 0
	display block
	width 45px
	height 45px
	padding-top 6px
	text-align center
	color #fff
	border-radius 50%
	background-color #007558

.partner-more 
	text-align center
	color #007558

	span 
		font-size 22px
		display block
		margin-bottom 20px

.g-btn--pdf
	position relative
	padding-left 45px

	&:before
		position absolute
		top 13px
		left 20px
		display block
		width 20px
		height 18px
		content ''
		background url('../img/general/pdf-btn.png') 0 0 no-repeat

	&:hover

		&:before
			background url('../img/general/pdf-btn-hover.png') 0 0 no-repeat
