.price
	background url('../img/general/price-bg.jpg') 0 0 no-repeat
	background-size cover

.price-item__wrap
	margin-bottom 30px

.price-item
	width 30%
	line-height 1.2
	position relative
	height 550px
	margin 0 10px
	padding 20px 20px 30px
	text-align center
	color #007558
	border-radius 10px

.price-item--level1 
	background url('../img/general/price/level1.jpg') 0 0 no-repeat
	background-size cover

.price-item--level2 
	background url('../img/general/price/level2.jpg') 0 0 no-repeat
	background-size cover

.price-item--level3 
	background url('../img/general/price/level3.jpg') 0 0 no-repeat
	background-size cover

.price__title 
	font-family 'PTSansBold',Arial,sans-serif
	font-size 24px
	display block
	text-transform uppercase

	&:after 
		display block
		width 260px
		height 1px
		margin 20px auto
		content ''
		background-color #007558

.price-descr 
	margin-bottom 10px

.price-list 
	margin-bottom 20px
	li
		margin-bottom 5px

.price-number 
	z-index 1
	font-family 'PTSansBold',Arial,sans-serif
	font-size 42px
	line-height 60px
	position absolute
	bottom 30px
	left 50%
	width 100%
	max-width 260px
	height 60px
	margin-left -130px
	color #ffffff
	background url('../img/general/price-bg.png') 0 0 no-repeat

.price-order 
	text-align center
	color #fff

	p
		font-size 28px
		margin-bottom 30px
		
		a
			font-family: 'PTSansBold',Arial,sans-serif;
			color: #fff;


.price-slider__controls
	position absolute
	top 50%
	z-index 10
	margin-top -22px
	width 44px
	height 44px
	cursor pointer

.price-slider__next 
	right 0
	background url('../img/svg/arrow-right.svg') 0 0 no-repeat
	background-size 100%

.price-slider__prev 
	left 0
	background url('../img/svg/arrow-left.svg') 0 0 no-repeat
	background-size 100%
