.team
	padding 0
	background url('../img/general/team-bg.jpg') center no-repeat
	background-size cover

	&:before
		position absolute
		z-index 1
		right 0
		top -20px
		left 0
		display block
		height 20px
		content ''
		background url('../img/general/wave-top-team.png') 0 0 repeat-x

	&:after
		position absolute
		z-index 1
		right 0
		bottom -20px
		left 0
		display block
		height 20px
		content ''
		background url('../img/general/wave-bottom-team.png') 0 0 repeat-x

.team-content 
	height 1140px
	padding 70px 0
	color #007558
	background url('../img/general/team-line.png') center no-repeat

.team-photo 
	overflow hidden
	width 165px
	height 165px
	margin 0 auto 10px
	border 2px solid #007558
	border-radius 50%

	&.team-photo--founder 
		position absolute
		left 0
		width 260px
		height 260px
		background url('../img/content/team/founder.jpg') 0 0 no-repeat


.team-founder 
	position absolute
	left 20%
	padding-left 290px


.team-founder__info
	width 100%
	max-width 460px

	span 
		display block
		margin-bottom 10px

		&:last-of-type
			margin-bottom 20px

.team-founder__title
	font-family boldFont
	font-size 24px

.team-founder__text
	font-family italicFont

.team-item 
	position absolute
	text-align center

.team-item--leader-organization 
	top 36%
	left 4%
	width 100%
	max-width 290px

	.team-photo
		background url('../img/content/team/leader-oraganization.jpg') 0 0 no-repeat

.team-title 
	font-family boldFont
	display block
	margin-bottom 10px

.team-work
	margin-bottom 5px
	display block

.team-item--coordinator 
	top 40%
	left 30%
	width 100%
	max-width 220px

	.team-photo
		background url('../img/content/team/coordinator.jpg') 0 0 no-repeat

.team-item--leader-banket
	top 34%
	left 53%
	width 100%
	max-width 200px

	.team-photo
		
		background url('../img/content/team/leader-banket.jpg') 0 0 no-repeat

.team-item--photo
	top 40%
	left 73%
	width 100%
	max-width 230px

	.team-photo
		background url('../img/content/team/photo.jpg') 0 0 no-repeat

.team-item--dekor
	top 64%
	left 7%
	width 100%
	max-width 230px

	.team-photo
		background url('../img/content/team/dekor.jpg') 0 0 no-repeat

.team-item--director
	top 70%
	left 30%
	width 100%
	max-width 190px

	.team-photo
		background url('../img/content/team/director.jpg') 0 0 no-repeat

.team-item--leader-child
	top 64%
	left 53%
	width 100%
	max-width 230px

	.team-photo
		background url('../img/content/team/leader-child.jpg') 0 0 no-repeat

.team-item--leader-corporate
	top 70%
	left 73%
	width 100%
	max-width 260px

	.team-photo
		background url('../img/content/team/leader-corporate.jpg') 0 0 no-repeat
