.other-content
	color mainColor

	.g-section-title
		margin-bottom 15px

.other-item__wrap 
	display flex
	width 100%
	max-width 810px
	margin 0 auto
	justify-content space-around
	flex-wrap wrap


.other-descr 
	font-size 28px
	display block
	margin-bottom 40px
	text-align center


.other-item
	position relative
	font-family 'kuraleregular',Arial,sans-serif
	font-size 28px
	line-height 1.2
	width 32%
	margin-bottom 60px
	padding-top 180px
	text-align center

	&:before
		content ''
		position absolute
		top 0
		left 50%
		margin-left -82px
		width 165px
		height 165px

.other-item--corporate
	&:before
		background url('../img/content/other/corporate.png') 0 0 no-repeat

.other-item--birthday
	&:before
		background url('../img/content/other/birthday.png') 0 0 no-repeat

.other-item--child
	&:before
		background url('../img/content/other/child.png') 0 0 no-repeat



.other-offer 
	font-size 26px
	line-height 1.2
	width 100%
	max-width 680px
	margin 0 auto
	text-align center

	p
		margin-bottom 25px

	a
		font-family boldFont
		color mainColor

.other-arrow 
	width 30px
	height 50px
