section.partner#partner
	.container
		.partner-content
			h2.g-section-title Наша площадка-партнер –<br> Кафе-шатры «Русская сказка»
			.partner-photo__wrap
				.partner-photo(style="background-image: url('static/img/content/partner/partner1.jpg')")
				.partner-photo.partner-photo--width(style="background-image: url('static/img/content/partner/partner2.jpg')")
				.partner-photo(style="background-image: url('static/img/content/partner/partner3.jpg')")

			.partner-advantages__line
				.partner-advantages__item.partner-advantages__item--1
					.partner-advantages__number 1
					p 
						| – Располагается
						| <b> в Национальном конном парке «Русь»</b>
				
				.partner-advantages__item.partner-advantages__item--2
					.partner-advantages__number 2
					p 
						| – Есть возможность размещения на территории: молодоженам
						| <b>в двухкомнатном люксе, </b>
						| а остальным гостям мы можем предложить на выбор:
						| <b>гостиничные номера, либо коттеджи </b>
			
			.partner-advantages__line
				.partner-advantages__item.partner-advantages__item--3
					.partner-advantages__number 3
					p 
						| – На территории комплекса размещены 
						| <b>3 белоснежных арочных шатра площадью 200кв. м</b>
				
				.partner-advantages__item.partner-advantages__item--4
					.partner-advantages__number 4
					p 
						| – Шатры имеют 
						| <b>удобный заезд </b>
						| и <b>собственную парковку </b>

			.partner-more
				span Подробнее о площадке
				a( href="javascript:void(0);").g-btn.g-btn--pdf Презентация PDF
