.popup-portfolio.mfp-hide.clearfix#popup-portfolio
	#close-popup2.close-popup x
	.portfolio-date-slider
		.date-slider__controls.date-slider__controls--prev
		.date-slider__controls.date-slider__controls--next
		.js-portfolio-date-slider
			.date-slider__item
				span.date-slider__name Артур и Кристина
			.date-slider__item
				span.date-slider__name Василий и Валерия
			.date-slider__item
				span.date-slider__name Денис и Анна
			.date-slider__item
				span.date-slider__name Константин и Марина
			.date-slider__item
				span.date-slider__name Максим и Ольга
			.date-slider__item
				span.date-slider__name Павел и Светлана
			.date-slider__item
				span.date-slider__name Серегей и Анастасия
			.date-slider__item
				span.date-slider__name Александр и Юлия
			.date-slider__item
				span.date-slider__name Евгений и Анастасия
			.date-slider__item
				span.date-slider__name Константин и Ирина
			.date-slider__item
				span.date-slider__name Юрий и татьяна
	.portfolio-current-date-slider
		.js-portfolio-current-date-slider
			include portfolio/port1
			include portfolio/port2
			include portfolio/port3
			include portfolio/port4
			include portfolio/port5
			include portfolio/port6
			include portfolio/port7
			include portfolio/port8
			include portfolio/port9
			include portfolio/port10
			include portfolio/port11			
