section.portfolio#portfolio
	.container
		h2.g-section-title Портфолио
		.portfolio-item__wrap
			.portfolio-item__line
				.portfolio-item.portfolio-item--width(style="background-image: url('static/img/content/portfolio/port1/prev.jpg')")
					a(href="#popup-portfolio" data-slide-number="0").popup-link-port
						.portfolio-item-search
						.portfolio-item__descr
							span Свадьба Александра и Юлии
				.portfolio-item(style="background-image: url('static/img/content/portfolio/port2/prev.jpg')")
					a(href="#popup-portfolio" data-slide-number="1").popup-link-port
						.portfolio-item-search
						.portfolio-item__descr
							span Свадьба Александра и Александры
				.portfolio-item(style="background-image: url('static/img/content/portfolio/port3/prev.jpg')")
					a(href="#popup-portfolio" data-slide-number="2").popup-link-port
						.portfolio-item-search
						.portfolio-item__descr
							span Свадьба Александра и Юлии

			.portfolio-item__center
				.portfolio-item(style="background-image: url('static/img/content/portfolio/port4/prev.jpg')")
					a(href="#popup-portfolio" data-slide-number="3").popup-link-port
						.portfolio-item-search
						.portfolio-item__descr
							span Свадьба Александра и Юлии
				.portfolio-item.portfolio-item--width(style="background-image: url('static/img/content/portfolio/port5/prev.jpg')")
					a(href="#popup-portfolio" data-slide-number="4").popup-link-port
						.portfolio-item-search
						.portfolio-item__descr
							span Свадьба Александра и Надежды
				.portfolio-item.portfolio-item--height(style="background-image: url('static/img/content/portfolio/port6/prev.jpg')")
					a(href="#popup-portfolio" data-slide-number="5").popup-link-port
						.portfolio-item-search
						.portfolio-item__descr
							span Свадьба Александра и Надежды
				.portfolio-item.portfolio-item--width(style="background-image: url('static/img/content/portfolio/port7/prev.jpg')")
					a(href="#popup-portfolio" data-slide-number="6").popup-link-port
						.portfolio-item-search
						.portfolio-item__descr
							span Свадьба Александра и Надежды
				.portfolio-item(style="background-image: url('static/img/content/portfolio/port8/prev.jpg')")
					a(href="#popup-portfolio" data-slide-number="7").popup-link-port
						.portfolio-item-search
						.portfolio-item__descr
							span Свадьба Александра и Надежды


			.portfolio-item__line
				.portfolio-item.portfolio-item--width(style="background-image: url('static/img/content/portfolio/port9/prev.jpg')")
					a(href="#popup-portfolio" data-slide-number="8").popup-link-port
						.portfolio-item-search
						.portfolio-item__descr
							span Свадьба Александра и Юлии
				.portfolio-item(style="background-image: url('static/img/content/portfolio/port10/prev.jpg')")
					a(href="#popup-portfolio" data-slide-number="9").popup-link-port
						.portfolio-item-search
						.portfolio-item__descr
							span Свадьба Александра и Александры
				.portfolio-item(style="background-image: url('static/img/content/portfolio/port11/prev.jpg')")
					a(href="#popup-portfolio" data-slide-number="10").popup-link-port
						.portfolio-item-search
						.portfolio-item__descr
							span Свадьба Александра и Юлии

			.portfolio-instagramm
				span Следите за нами в инстаграмме: 
				span.instagramm-text my_world_my_emerald
