section.reviews#reviews
	.container
		.reviews-content
			h2.g-section-title.g-section-title--white Отзывы

			.reviews-slider
				.reviews-slider__controls.reviews-slider__prev
				.reviews-slider__controls.reviews-slider__next
				.js-review-slider
					.reviews-slider__item
						.review-item
							.review-author
								.review-photo.review-photo--1
								span.review-author__name Наталья,
								span.review-author__name Владимир 
								span.review-date 7 мая 2016
							.review-text
								p
									| "Дорогие Алиса и Наташа, хочется поблагодарить вас и вашу команду за организацию нашей свадьбы!
									| <b>Вы очень тёплые, позитивные, мастера своего дела!</b>
									| К сожалению, не удалось сказать слова благодарности на свадьбе, 
									| при торжественной обстановке, но думаю, мы ещё встретимся с вами, повод для праздника найдём).
									| Процветания вам, только положительных эмоций, не капризных молодожёнов))"
						
						.review-item
							.review-author
								.review-photo.review-photo--2
								span.review-author__name Артур, 
								span.review-author__name Кристина
								span.review-date 14 мая 2016
							.review-text
								p
									| "Время для благодарностей! 
									b Страна должна знать своих героев в лицо!
									| Эти две волшебные девочки делают любой праздник сказкой! Самые добрые, внимательные, отзывчивые организаторы на свете! Ребята, мы счастливы, что вы были с нами! Вы потрясающая команда! Команда профессиональная, понимающая, внимательная! Столько потрясающих людей вместе - это клад!!! Спасибо за лучший день в нашей жизни!!! "
					
					.reviews-slider__item
						.review-item
							.review-author
								.review-photo.review-photo--3
								span.review-author__name Артём, 
								span.review-author__name Анна
								span.review-date 14 июня 2017
							.review-text
								p
									| В преддверии своей свадьбы я волновалась, как и большинство невест, и понимала, что она вряд ли может быть идеальной.
									| Но! Я глубоко ошибалась!
									b Свадьба может быть идеальной, солнечной, прекрасной, искренней и весёлой, потому что у нас она такой и была!
									| Этот день стал для нас с теперь уже мужем одним из самых счастливых дней в жизни.
									| И всё благодаря прекрасным организаторам Наталье и Алисе."
						.review-item
							.review-author
								.review-photo.review-photo--4
								span.review-author__name Вадим,
								span.review-author__name Диляра
								span.review-date 2 июля 2018
							.review-text
								p
									b Наташа: 
									| вы потрясающая команда!
									| Мы очень рады и очень благодарны, что ты была с нами в самые ответственные моменты, 
									| помогала, советовала и подсказывала! Мы смогли забыть обо всех вопросах, проблемах и просто наслаждаться своим днём от всей души, что для всех молодоженов самое важное! 
					.reviews-slider__item
						.review-item
							.review-author
								.review-photo.review-photo--3
								span.review-author__name Артём, 
								span.review-author__name Анна
								span.review-date 14 июня 2017
							.review-text
								p
									| В преддверии своей свадьбы я волновалась, как и большинство невест, и понимала, что она вряд ли может быть идеальной.
									| Но! Я глубоко ошибалась!
									b Свадьба может быть идеальной, солнечной, прекрасной, искренней и весёлой, потому что у нас она такой и была!
									| Этот день стал для нас с теперь уже мужем одним из самых счастливых дней в жизни.
									| И всё благодаря прекрасным организаторам Наталье и Алисе."
						.review-item
							.review-author
								.review-photo.review-photo--4
								span.review-author__name Вадим,
								span.review-author__name Диляра
								span.review-date 2 июля 2018
							.review-text
								p
									b Наташа: 
									| вы потрясающая команда!
									| Мы очень рады и очень благодарны, что ты была с нами в самые ответственные моменты, 
									| помогала, советовала и подсказывала! Мы смогли забыть обо всех вопросах, проблемах и просто наслаждаться своим днём от всей души, что для всех молодоженов самое важное! 
					.reviews-slider__item
						.review-item
							.review-author
								.review-photo.review-photo--3
								span.review-author__name Артём, 
								span.review-author__name Анна
								span.review-date 14 июня 2017
							.review-text
								p
									| В преддверии своей свадьбы я волновалась, как и большинство невест, и понимала, что она вряд ли может быть идеальной.
									| Но! Я глубоко ошибалась!
									b Свадьба может быть идеальной, солнечной, прекрасной, искренней и весёлой, потому что у нас она такой и была!
									| Этот день стал для нас с теперь уже мужем одним из самых счастливых дней в жизни.
									| И всё благодаря прекрасным организаторам Наталье и Алисе."
						.review-item
							.review-author
								.review-photo.review-photo--4
								span.review-author__name Вадим,
								span.review-author__name Диляра
								span.review-date 2 июля 2018
							.review-text
								p
									b Наташа: 
									| вы потрясающая команда!
									| Мы очень рады и очень благодарны, что ты была с нами в самые ответственные моменты, 
									| помогала, советовала и подсказывала! Мы смогли забыть обо всех вопросах, проблемах и просто наслаждаться своим днём от всей души, что для всех молодоженов самое важное! 
