section.secrets
	.container
		.secrets-content
			h2.g-section-title.g-section-title--white Секреты организации идеальной свадьбы
			.secrets-text
				span.secrets-text__title На консультации мы расскажем:
				ul.secrets-list
					li Как сэкономить до 15% свадебного бюджета.
					li Как выбрать и проверить ведущего, фотографа, оператора, декоратора. 
					li Какие вопросы задавать на собеседовании.
					li Какую площадку выбрать и как обойти пробковый сбор. 
					li Что лучше, выездная регистрация или ЗАГС.
					li Почему, стоит избегать агентства, которые работают за %?
			.form.form--secrets
				form(action="https://echo.htmlacademy.ru" method="post")#form--secrets
					p.form-title
						| Консультация свадебного специалиста с опытом организации 
						b более 200 свадеб!
					.form-group.form-group--name.form-group--icon
						input(type="text" name="name" placeholder="Ваше имя").g-input
					.form-group.form-group--phone.form-group--icon
						input(type="text" name="phone" placeholder="Номер телефона").g-input
					.form-group
						input(type="submit" value="Получить консультацию").g-btn

				.success-form
					span.success-text__bold Ваша заявки принята!
					span.success-text В ближайшее время мы с вами свяжемся.
